@import "../gutenberg_block";

.instagram-block {
    position: relative;

    .insta-top {
        align-items: center;
        gap: var(--gutter-standard);
        margin-bottom: var(--space-xl);

        span {
            gap: var(--space-2xs);
        }

        @include breakpoint(max-width, S) {
            flex-direction: column;
            align-items: baseline;
        }
    }

    .insta-images {
        display: flex;
        flex-direction: row;
        gap: var(--gutter-tight);

        @include breakpoint(max-width, S) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        .instagram-image {
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s;
            }
        }
    }
}