blockquote {
    font-size: var(--font-size-l);
    padding: var(--space-xl);
    margin-bottom: var(--space-m);
    background: color-opacity(var(--color-body), 0.05);

    @include breakpoint(max-width, XS) {
        padding: var(--space-l);
    }
    p {
        @include text-style('small-heading', '1');
        
        &:before {
            content: "“";
        }
        &:after {
            content: "”";
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        @include text-style('body', 's');
        color: color-opacity(var(--color-body), 0.5);
        margin: 0;

        &:before {
            content: "-";
            margin-right: var(--space-3xs);
        }
    }
}