@import "../gutenberg_block";

.explore-map-carousels {
    @include breakpoint(max-width, S) {
        height: calc(100% - var(--size-l-4)); //full height minus header
    }
    .explore-map-container {
        width: 65%;
        position: relative;

        @include breakpoint(max-width, M) {
            width: 60%;
        }
        @include breakpoint(max-width, S) {
            width: 55%;
        }
        @include breakpoint(max-width, S) {
            width: 100%;
            flex-grow: 1;
        }
        .explore-map {
            position: relative;
            width: 100%;
            height: 38.5rem;
            background: #e2e2e2;

            @include breakpoint(max-width, S) {
                width: 100%;
                height: 100%;
            }
        }
    }
    .explore-carousels {
        width: 35%;
        position: relative;
        z-index: 2;

        @include breakpoint(max-width, M) {
            width: 40%;
        }
        @include breakpoint(max-width, S) {
            width: 45%;
        }
        @include breakpoint(max-width, S) {
            width: 100%;
            min-height: 22rem;
            display: flex;
            align-items: center;
            padding: var(--size-m) 0 var(--size-m) var(--size-l);
        }
        .explore-carousel,
        .slick-list,
        .slick-track {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include breakpoint(max-width, S) {
                position: static;
                height: 20rem;
            }
        }

        @include breakpoint(max-width, S) {
            .explore-carousel .slick-track {
                display: flex;
                gap: var(--gutter-tight);
                padding-inline: var(--container-wide);
            }
        }
    }
}

.explore-carousel-slide {
    text-align: center;
    position: relative;

    @include breakpoint(max-width, S) {
        margin-right: var(--size-s);
        width: 20rem;
    }
    .button {
        margin-bottom: 0;
        margin-top: var(--size-s);

        @include breakpoint(max-width, S) {
            margin-top: 0;
        }
    }
    .slide-inner {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(#000, 0.5);
        padding: var(--space-m) var(--space-xl);

        h3,
        p {
            width: 100%;
        }
        @include breakpoint(max-width, S) {
            h3 {
                font-size: var(--font-size-m);

                .subtitle {
                    font-size: var(--font-size-xs);
                }
            }
            p {
                font-size: var(--font-size-xs);
            }
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.explore-controls {
    position: absolute;
    bottom: var(--space-m);
    left: 0;
    width: 100%;
    z-index: 3;
    text-align: center;

    .explore-nav {
        color: var(--color-body);
        margin: 0 var(--space-3xs);

        svg {
            display: block;
        }
    }
}

.explore-nav-wrapper {
    padding: 0 var(--space-xl) var(--space-l) var(--space-xl);
    position: relative;

    h2 {
        padding-right: var(--space-2xl);
    }
    @include breakpoint(max-width, S) {

        h2.no-margin {
            margin-bottom: var(--space-s);
        }
    }
    @include breakpoint(max-width, S) {
        padding: 0 var(--space-l);
        height: var(--size-l-4);

        h2.no-margin {
            margin-bottom: 0;
            padding-right: 0;
            font-size: var(--font-size-m);
        }
    }
}

.explore-nav {
    flex-shrink: 0;

    a {
        margin: 0 var(--space-s);
        padding: var(--space-2xs) 0;
        @include text-style('body', 'xs');
        position: relative;
        color: color-opacity(var(--color-body), 0.25);

        @include breakpoint(max-width, S) {
            margin: 0;
            padding: var(--space-2xs) var(--space-m) var(--space-2xs) 0;
        }
        &:after {
            content: "";
            @extend %transition;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 0;
            position: absolute;
            border-bottom: 1px solid;
            border-color: var(--color-accent-primary);

            @include breakpoint(max-width, S) {
                left: calc(50% - 0.75rem);
            }
        }
        &.active,
        &:hover {
            color: var(--color-accent-primary);

            &:after {
                width: 100%;

                @include breakpoint(max-width, S) {
                    width: calc(100% - 1.5rem);
                }
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.explore-nav-mob {
    overflow: scroll;
    padding: var(--space-s) 0 var(--space-s) var(--space-l);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 2rem;
        z-index: 2;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
}

.explore-mob-close {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--size-l-4);
    height: auto;
    aspect-ratio: 1;
    color: var(--color-background);
    background-color: var(--color-body);
}

.explore-locations {
    @extend %transition;

    @include breakpoint(max-width, S) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: var(--color-background);

        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 100;
        }
    }
}