main section:last-of-type{
    padding-bottom: 6rem;
}

.footer {
    padding-block: var(--space-xl);
    margin:unset;
    width: 100%;
    corner-shape: scoop;
    border-radius:fluid-val(16, 48) fluid-val(16, 48)  0 0 ;
    overflow: clip;
       margin-top: -3rem;
    z-index: 9;
    position: relative;
   
    @supports not (corner-shape: scoop) {
        border-radius: 0;
    }


    .up-core-logo{
        width: var(--size-2xl-4);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: var(--space-l);

        @include breakpoint(max-width, XS) {
            li {
                width: 50%;
            }
        }
        a {
            margin: var(--space-2xs) var(--space-s);
            color: var(--color-body);
            display: block;

            &:hover {
                color: var(--color-accent-primary);
            }
        }
    }
}

.social-links {
    .button {
        margin: 0 var(--space-xs);
    }
}