.copyright {

    @include breakpoint(max-width, M) {
        align-items: start !important;
    }

    .container-inner {
        padding-top: var(--space-m);

        @include breakpoint(max-width, M) {
            flex-direction: column;
        }
    }

    .copyright-menu p {

        @include breakpoint(max-width, XS) {
            margin-right: 0;
        }
    }

    a {
        color: var(--color-body);

        @include breakpoint(max-width, XS) {
            padding: var(--space-2xs);
        }

        &:hover {
            color: var(--color-accent-primary);
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(max-width, XS) {
            justify-content: center;
            margin: 0;
            padding: var(--space-2xs) 0;
        }

        li {
            @include breakpoint(max-width, XS) {
                width: 100%;
            }

            a {
                font-size: var(--font-size-s);
                display: block;
                margin-right: var(--space-m);

                @include breakpoint(max-width, XS) {
                    margin: 0;
                    padding: var(--space-2xs);
                }
            }
        }
    }
}

.grecaptcha-badge {
    display: none !important;
}

.js-category-target {
    @extend %transition;

    &.filtered {
        display: none;
    }

    &.fade-out {
        opacity: 0;
    }
}