main section:last-of-type {
    padding-bottom: 6rem;
}

.footer {
    padding-block: 3rem;
    margin: unset;
    width: 100%;
    border-radius: 2.99563rem 2.99563rem 0 0;
    overflow: clip;
    z-index: 9;
    position: relative;
    margin-top: -3rem;

    .footer-logo {
        width: 8.625rem;
    }

    .footer-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include breakpoint(max-width, M) {
            gap: 1.75rem;
            padding-block: var(--space-xl) 0;
        }
    }

    .footer-address,
    .footer-newsletter {
        width: 100%;
    }

    .footer-address {
        text-align: start;

        @include breakpoint(max-width, M) {
            text-align: center;
        }

        p {
            margin-bottom: 0;
        }
    }

    .footer-newsletter {
        border-top: solid 1px var(--color-accent-primary);
        padding-top: 1.5rem;

        .newsletter-content {
            display: flex;
            justify-content: space-between;

            p:nth-child(2) {
                @include text-style('body', 'xs');
            }

            @include breakpoint(max-width, M) {
                flex-direction: column;

                .subtitle {
                    margin: 0;
                }
            }
        }

        form {
            display: flex;

            @include breakpoint(max-width, M) {
                flex-direction: column;
            }
        }

        form>* {
            @include breakpoint(max-width, M) {
                margin-bottom: 0;
            }
        }

        .gform-body,
        .gform_wrapper.gravity-theme .gform_fields,
        .gform_fields fieldset .ginput_container,
        .gform_wrapper.gravity-theme .gfield input,
        .gform_fields .gfield .ginput_container_email {
            width: 100%;

            @include breakpoint(max-width, M) {
                gap: 0;
            }
        }

        .gform_fields .gfield {
            padding: 0;
            border: unset;
        }

        .gform_wrapper.gravity-theme .gform_fields {
            gap: 0;
        }

        .gform_wrapper.gravity-theme .gfield input {
            background-color: white;
            padding: .75rem 1rem;
            border: 1px solid #3C3C3C;
        }

        .gform_wrapper.gravity-theme .gfield input.medium,
        .gform_wrapper.gravity-theme .gfield select.medium {
            width: 100%;
        }

        .gform_footer input[type="submit"] {
            width: unset;

            @include breakpoint(max-width, M) {
                min-width: unset;
                width: 100%;
            }
        }

        .gform_wrapper.gravity-theme #field_submit,
        .gform_wrapper.gravity-theme .gform_footer {
            justify-content: center;
        }

        .gform_fields fieldset .ginput_container {
            column-gap: 0;
        }

        label {
            font-weight: 400;
        }

        .gform-body,
        .gform_wrapper.gravity-theme .gform_fields,
        .gform_fields fieldset .ginput_container,
        .gform_wrapper.gravity-theme .gfield input,
        .gform_fields .gfield .ginput_container_email {
            height: 4rem;

            @include breakpoint(max-width, M) {
                height: unset;
                display: flex;
                flex-direction: column;
            }
        }

        .gform_wrapper.gravity-theme .gform_fields {
            @include breakpoint(max-width, M) {
                height: unset;
            }

        }

        .gform_wrapper.gravity-theme .ginput_complex fieldset,
        .gform_wrapper.gravity-theme .ginput_complex span {
            padding: 0 !important;
            margin: 0 !important;
        }

        #input_1_2 {
            input {
                border-right: 0;

                @include breakpoint(max-width, M) {
                    border-right: 1px solid #3C3C3C;
                    border-bottom: 0;
                }
            }
        }

        .gform_wrapper.gravity-theme .gform_footer,
        .gform_wrapper.gravity-theme .gform_page_footer {
            margin: 0;
            padding: 0;
        }

        .gform_wrapper.gravity-theme .gform_footer button,
        .gform_wrapper.gravity-theme .gform_footer input,
        .gform_wrapper.gravity-theme .gform_page_footer button,
        .gform_wrapper.gravity-theme .gform_page_footer input {
            margin-bottom: 0;
            height: 4rem;

            @include breakpoint(max-width, M) {
                height: 3.5rem;
            }
        }

        .gform_footer {
            height: 4rem;

            @include breakpoint(max-width, M) {
                height: 3.5rem;
            }
        }

        .button,
        button,
        input[type="submit"],
        input[type="button"] {
            border-radius: 0;
            border: 1px solid #3C3C3C;
            border-left: none;
            min-width: 11.25rem;

            @include breakpoint(max-width, M) {
                border-left: 1px solid #3C3C3C;
                border-top: 0;
            }
        }

        input::placeholder {
            color: rgba(60, 60, 60, 0.50);
            font-family: MinervaModern;
            font-size: 1.3125rem;
            font-style: normal;
            font-weight: 400;
        }
    }

    .up-core-logo {
        width: var(--size-2xl-4);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            margin: var(--space-2xs) var(--space-s);
            color: var(--color-body);
            display: block;

            &:hover {
                color: var(--color-accent-primary);
            }
        }
    }
}

.social-links {
    .button {
        margin: 0 var(--space-xs);
    }
}