@import "../gutenberg_block";


.faqs {
    --top-offset: var(--header-height, var(--space-2xl)); //Offset by header-height (with a fallback if --header-height not defined)

    position: relative;
    z-index: 2;
   
    @include breakpoint(min-width, M) {
        display: grid;
        grid-template-columns: 28rem 1fr;
        align-items: start;

        &:first-child {
            padding-block-start: 0;
        }
    }

    .faqs-sidebar {
        background-color: var(--color-background-alt);
        width: 28rem;
        z-index: 2;
        padding-top: var(--top-offset);
        min-height: calc(100dvh - var(--top-offset));

        position: sticky;
        top: var(--top-offset);

        @include breakpoint(max-width, M) {
            display: none;
        }
    }
    .faqs-cta {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: var(--space-m) var(--space-l);
        z-index: 2;

        &-content {
            padding-right: var(--space-l);
        }
        @include breakpoint(max-width, M) {
            text-align: left;
            position: static;
            margin-bottom: var(--space-xl);
            padding: var(--space-s) var(--space-m);
        }
    }
    .faqs-nav-wrapper {
        margin-bottom: calc( (2 * var(--space-l) + var(--space-xl))); //2* CTA vertical padding + extra space
        padding: 0 var(--space-xl);
    }
    .faq-nav {
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;

        li {
            padding: 0;
            margin: 0;

            &:before {
                display: none;
            }
            &:last-child {
                margin: 0;
            }
        }
        a {
            display: block;
            padding: var(--space-m) 0 var(--space-s) 0;
            color: var(--color-body);
            border-bottom: 1px solid;
            border-color: color-opacity(var(--color-body), 0.1);

            span {
                margin-right: var(--space-s);
            }
            &:hover,
            &.active {
                color: var(--color-accent-primary);
                opacity: 1;
                border-bottom: 1px solid;
                border-color: var(--color-accent-primary);
            }
        }
    }
    .faqs-content {
        background-color: var(--color-background);
        padding: 0 var(--space-xl);

        @include breakpoint(min-width, M) {
            padding-top: var(--top-offset);
        }

        @include breakpoint(max-width, M) {
            width: 100%;
            padding-inline: var(--container-standard);
        }
    }
}

.faqs-search {
    padding: 0 0 0 var(--space-2xl);
    position: relative;
    background: #fff;
    margin-bottom: var(--space-l);
    border: 1px solid;
    border-color: var(--color-body);
    margin-inline: var(--space-xl);

    @include breakpoint(max-width, M) {
        margin: 0 0 var(--space-xl) 0;
    }
    svg {
        position: absolute;
        left: var(--space-s);
        top: calc(50% - 12px);
        margin: 0;
        z-index: 3;
    }
    input {
        border: 0;
        padding: var(--space-s);
        padding-left: 0;
    }
}

.faqs-notification {
    margin-bottom: var(--space-l);
    display: none;

    @include breakpoint(max-width, M) {
        text-align: center;
    }
    &.active {
        display: flex;
    }
    .results-for {
        padding: var(--space-s) var(--space-s) var(--space-s);
        max-width: 100%;
        word-break: break-word; // for reeeeealy long words
        background-color: var(--color-background);
        color: var(--color-accent-primary);

        @include breakpoint(max-width, M) {
            flex-grow: 1;
        }
    }
    .filter-count {
        padding: var(--space-s);
        background-color: var(--color-accent-primary);
        color: #fff;
    }
}

.faqs-content-inner {
    max-width: var(--width-content);
    margin-inline: auto;
}

.faq-group {
    margin-bottom: var(--space-3xl);

    .accordion {
        margin: 0;
    }
}

.no-results {
    display: none;
}

.faqs-help {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
        text-align: center;
        padding-left: var(--space-l);
    }
}
 
.faq-top-content {
    margin-bottom: var(--space-3xl);

    @include breakpoint(max-width, M) {
        display: none;
    }
}

.faqs-mob-header {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-s);
    background-color: var(--color-background);

    @include breakpoint(min-width, M) {
        display: none;
    }

    .in-page-nav-wrap {
        margin-inline: calc(-1 * var(--container-standard));
        padding-block: var(--space-s);
        width: auto;
    }
}